<div class="speaker-wrapper" [attr.data-target]="'#speakersModal_'+speaker.id" data-toggle="modal" role="button"
  (click)="getDetail(speaker)">
  <figure>
    <div class="image-wrapper" [style.backgroundImage]="speaker.photoUrl?'url('+speaker.photoUrl+')':'url(assets/img/default_lecturer.png)'">
      <!-- <img [src]="speaker.photoUrl" alt="speaker.name"> -->
    </div>
    <figcaption class="speaker-info">
      <p class="item-name ellipsis line">
        {{speaker.fullName || ''}}&nbsp;
      </p>
      <p class="item-company ellipsis line">
        {{speaker.company || ''}}&nbsp;
      </p>
      <span class="item-speaker-title ellipsis">
        {{speaker.title || ''}}&nbsp;
      </span>
    </figcaption>
  </figure>
</div>

<!-- speakers modal -->
<div class="modal detail-modal fade" [id]="'speakersModal_'+speaker.id" tabindex="-1" role="dialog"
  aria-labelledby="speakersModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speaker.photoUrl?speaker.photoUrl:'assets/img/default_lecturer.png'" alt="speaker.name">
            </div>
            <div class="item-info">
              <p class="item-name">{{speaker.fullName || ''}}</p>
              <p class="item-company">{{speaker.company || ''}}</p>
              <span class="item-company-title">{{speaker.title || ''}}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speaker.description">
              <p [innerHTML]="speaker.description"></p>
            </div>
            <app-program-live [speakerId]="speaker.id" [program-live]="speaker.agenda"></app-program-live>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
