<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 scrmi-1">
        <div class="text">주최</div>
        <div class="image"><img src="../../../assets/img/scrmi/main_1.png"></div>
        <div class="image"><img src="../../../assets/img/scrmi/main_2.jpeg"></div>
      </div>
      <div class="col col-md-4 col-12 scrmi-2">
        <div class="text">후원</div>
        <div class="image"><img src="../../../assets/img/scrmi/sub_1.jpeg"></div>
        <div class="image"><img src="../../../assets/img/scrmi/sub_2.jpeg"></div>
      </div>
      <div class="col col-md-4 col-12 footer-description scrmi-3">
        <p>
          심포지엄 사무국 (담당자: 김민정 수석연구원,최하늘 연구원,이경희 연구원)<br>
          Tel : +82-2-2148-9958, +82-2-2008-4054, +82-2-2008-4056<br>
          E-mail : scrmi.smc@gmail.com
        </p>
      </div>
    </div>
  </div>
</footer>
