footer {
  width: 100%;

  .footer-header {
    border-top: 1px solid var(--gray6);
    border-bottom: 1px solid var(--gray6);

    .footer-header-content {
      margin: 0 auto;
      text-align: center;
      font-size: 1.1rem;

      .board-link {
        padding: 8px 24px;
        display: inline-block;

        a {
          color: var(--gray13);
        }
      }
    }
  }

  .footer-body {
    padding: 24px 0;

    .row {
      margin: 0 auto;
      max-width: 1200px;
      max-height: 120px;

      .scrmi-1,
      .scrmi-2 {
        display: flex;
        align-items: center;
        gap: 16px;

        .text {
          font-size: 18px;
          font-weight: bold;
        }

        .image {
          flex: 1;
        }
      }

      .footer-description {
        color: var(--gray13);
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.4;
      }

      .footer-support-logo-wrapper {
        display: flex;
        flex-direction: column;

        .footer-support-text {
          font-weight: 700;
        }

        .footer-support-logo {
          // cursor: pointer;
          width: 100%;
          height: 100%;
          background: url('/assets/img/footer-support-logo.png');
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: left;
        }
      }
    }
  }
}

@media (max-width : 767px) {
  footer {
    .footer-header {
      .footer-header-content {

        // font-size: 1rem;
        .board-link {
          padding: 8px 16px;
        }
      }
    }

    .row {
      padding: 0 5%;
      gap: 20px;
    }
  }
}

@media (max-width : 595px) {
  footer {
    .footer-header {
      .footer-header-content {
        .board-link {
          padding: 6px 12px;
        }
      }
    }

  }
}
