<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime | amDateFormat: 'yyyy.MM.DD HH:mm:ss' }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.10.08 (FRI)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:45%">
        <col style="width:45%">
      </colgroup>
      <thead>
        <tr>
          <th #th1>
            Time
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0,0)">
            </div>
          </th>
          <th #th2>
            Program
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0,0)">
            </div>
          </th>
          <th #th3>
            Chair & Speaker
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0,0)">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00~09:05
          </td>
          <td class="bold is-combined" colspan="2">
            Registration
          </td>
        </tr>

        <tr>
          <td class="time">
            09:05~09:10
          </td>
          <td class="bold">
            Opening Remarks
          </td>
          <td>
            <b>Yun Sil Chang</b><br>
            Director of Stem Cell & Regenerative Medicine Institute, Samsung Medical Center, Korea
          </td>
        </tr>

        <tr>
          <td class="time">
            09:10~09:15
          </td>
          <td class="bold">
            Congratulatory Address
          </td>
          <td>
            <b>O Jung Kwon</b><br>
            President of Samsung Medical Center, Korea
          </td>
        </tr>

        <tr>
          <td class="session">
            09:15~11:00
          </td>
          <td class="session bold">
            Session I. Translational & clinical research of stem cells for incurable diseases
          </td>
          <td class="session">
            <b>Kyu-Sung Lee</b><br>
            Director, Research Institute for Future Medicine, Samsung Medical Center, Korea<br>
            <b>Yun Sil Chang</b><br>
            Director of Stem Cell & Regenerative Medicine Institute, Samsung Medical Center, Korea
          </td>
        </tr>

        <tr>
          <td>09:15~09:30</td>
          <td>
            Translational & clinical research into industrialization in the field of stem cell and regenerative medicine
            by
            Research-driven Hospitals, introduction and examples
          </td>
          <td>
            <b>Yun Sil Chang</b><br>
            Samsung Medical Center, Korea
          </td>
        </tr>

        <tr>
          <td>
            09:30~09:35
          </td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>

        <tr>
          <td>
            09:35~10:05
          </td>
          <td>
            Personalized cell therapy for Parkinson’s disease: Hope or Reality?
          </td>
          <td>
            <b>Kwang-Soo Kim</b><br>
            McLean Hospital/Harvard Medical School, USA
          </td>
        </tr>

        <tr>
          <td>10:05~10:10</td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>

        <tr>
          <td>10:10~10:50</td>
          <td>
            Multifaceted roles of exosomes in mediating cerebrovascular dysfunction post stroke and as a potent
            adjunctive therapy for acute ischemic stroke
          </td>
          <td>
            <b>Michael Chopp</b><br>
            Oakland University/Henry Ford Hospital, USA
          </td>
        </tr>

        <tr>
          <td>10:50~10:55</td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>

        <tr>
          <td>10:55~11:00</td>
          <td colspan="2" class="bold is-combined">
            Break
          </td>
        </tr>

        <tr>
          <td class="session">
            11:00~12:15
          </td>
          <td class="session bold">
            Session II. Global Stem Cell & Regenerative Medicine Research
          </td>
          <td class="session">
            <b>Inho Jo</b><br>
            Korean Fund for Regenerative Medicine, Korea<br>
            <b>Il-Hoan Oh</b><br>
            The Catholic University of Korea, Korea
          </td>
        </tr>

        <tr>
          <td>11:00~11:20</td>
          <td>Building Complex Tissues for Translational Applications</td>
          <td><b>James J. Yoo</b><br>Wake Forest Institute for Regenerative Medicine, USA</td>
        </tr>

        <tr>
          <td>11:20~11:40</td>
          <td>Vascular Regeneration with Stem Cells, Direct Reprogramming, and Engineering</td>
          <td><b>Young-Sup Yoon</b><br>Emory University School of Medicine, USA/Yonsei University College of Medicine,
            Korea</td>
        </tr>

        <tr>
          <td>11:40~12:00</td>
          <td>Genetic and pharmacological approaches to modulate TDP43-associated neurodegenerative disease pathology
          </td>
          <td><b>Janghoo Lim</b><br>Yale University School of Medicine, USA</td>
        </tr>

        <tr>
          <td>12:00~12:15</td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>

        <tr>
          <td>12:15~13:30</td>
          <td colspan="2" class="bold is-combined">
            Lunch
          </td>
        </tr>

        <tr>
          <td class="session">
            13:30-14:35
          </td>
          <td class="session bold">
            Session III. Stem Cell Perspective: Cell Biology to Clinical Progress
          </td>
          <td class="session">
            <b>Gilson Khang</b><br>
            Jeonbuk National University, Korea<br>
            <b>Gun Il Im</b><br>
            Dongguk University, Korea
          </td>
        </tr>

        <tr>
          <td>13:30~13:50</td>
          <td>Molecular mechanisms of osteoarthritis pathogenesis</td>
          <td>
            <b>Jang-Soo Chun</b><br>
            Gwangju Institute of Science and Technology (GIST), Korea
          </td>
        </tr>

        <tr>
          <td>
            13:50~14:05
          </td>
          <td>
            Cartilage Regeneration Using an Injectable Tissue Engineered Cartilage
          </td>
          <td>
            <b>Byung Hyune Choi</b>
            <br>
            Inha University College of Medicine, Korea
          </td>
        </tr>

        <tr>
          <td>14:05~14:20</td>
          <td>
            Functional and anatomical Restoration of meniscus using 3D cell printing technique
          </td>
          <td>
            <b>
              Joon Ho Wang
            </b><br>
            Samsung Medical Center, Korea
          </td>
        </tr>

        <tr>
          <td>14:20~14:35</td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>

        <tr>
          <td class="session">
            14:35-15:35
          </td>
          <td class="session bold">
            Session IV. Recent Advances and Future Perspectives
          </td>
          <td class="session">
            <b>Jihwan Song</b><br>
            CHA University, Korea<br>
            <b>Seong Who Kim</b><br>
            Asan Medical Center, University of Ulsan College of Medicine, Korea
          </td>
        </tr>

        <tr>
          <td>
            14:35~14:50
          </td>
          <td>
            Creation of human assembloids that recapitulate in vivo tissue dynamics and cancer
          </td>
          <td>
            <b>Kunyoo Shin</b>
            <br>
            POSTECH, Korea
          </td>
        </tr>

        <tr>
          <td>
            14:50~15:05
          </td>
          <td>
            Preclinical study of ATORM-C and -S; Efficacy, safety and consideration for first-in-human trials
          </td>
          <td>
            <b>Jongman Yoo</b><br>
            CHA University School of Medicine/ORGANOIDSCIENCES, Ltd., Korea
          </td>
        </tr>

        <tr>
          <td>15:05~15:20</td>
          <td>Donor cell memory confers a metastable state of directly converted cells</td>
          <td>
            <b>Kee-Pyo Kim</b><br>
            College of Medicine, The Catholic University of Korea, Korea
          </td>
        </tr>

        <tr>
          <td>15:20~15:35</td>
          <td colspan="2" class="is-combined">Discussion</td>
        </tr>

        <tr>
          <td class="session">
            15:35-16:15
          </td>
          <td class="session bold">
            Session V. Stem Cell Basic Research and Applications
          </td>
          <td class="session">
            <b>Sung-Chul Jung</b><br>
            Ewha Womans University, Korea<br>
            <b>Jae Ho Kim</b><br>
            Pusan National University School of Medicine, Korea
          </td>
        </tr>

        <tr>
          <td>15:35~15:50</td>
          <td>Mass spectrometric analysis of mesenchymal stem cell secretomes</td>
          <td>
            <b>Cheolju Lee</b><br>
            Korea Institute of Science and Technology (KIST), Korea
          </td>
        </tr>

        <tr>
          <td>15:50~16:05</td>
          <td>Regeneration of pulp-dentin complex via stimulation of dental pulp stem cells</td>
          <td>
            <b>Il Ho Jang</b><br>Pusan National University School of Dentistry, Korea
          </td>
        </tr>

        <tr>
          <td>
            16:05~16:15
          </td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>


        <tr>
          <td>16:15~16:20</td>
          <td colspan="2" class="bold is-combined">
            Break
          </td>
        </tr>


        <tr>
          <td class="session">
            16:20-17:20
          </td>
          <td class="session bold">
            Session VI. Pluripotent Stem Cells and Future Perspectives for Regenerative Medicine
          </td>
          <td class="session">
            <b>Yee Sook Cho</b><br>
            KRIBB, Korea<br>
            <b>Ssang-Goo Cho</b><br>
            Konkuk University, Korea
          </td>
        </tr>

        <tr>
          <td>16:20~16:35</td>
          <td>Cargo proteins in extracellular vesicles: potential for novel therapeutics and biomarker development</td>
          <td>
            <b>Sue Kim</b><br>Brexogen Inc., Korea
          </td>
        </tr>


        <tr>
          <td>16:35~16:50</td>
          <td>m6A RNA methylation, an essential factor in regulating gene expression to control the fate of human
            pluripotent stem cells</td>
          <td>
            <b>Yong Jun Kim</b><br>Kyung Hee University, Korea
          </td>
        </tr>

        <tr>
          <td>16:50~17:05</td>
          <td>The modeling of uremic cardiomyopathy using patient specific induced pluripotent stem cells</td>
          <td>
            <b>Jaecheol Lee</b><br>Sungkyunkwan University, Korea
          </td>
        </tr>

        <tr>
          <td>
            17:05~17:20
          </td>
          <td colspan="2" class="is-combined">
            Discussion
          </td>
        </tr>


        <tr>
          <td>17:20~</td>
          <td colspan="2" class="bold is-combined">
            Adjourn
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
