<div [ngClass]="{'content-body patten-true': !opt }">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>{{router.url === "/main"?"Welcome Message":"Welcome Message"}}</h2>
      </div>
    </div>
    <article [ngClass]="{ 'background-true' : !opt, 'about': !opt } ">
      <div class="content-inner" *ngIf="opt" [innerHTML]="event?.description | safeHtml">
      </div>
      <div class="content-inner" *ngIf="!opt" [innerHTML]="event?.description2 |safeHtml">
      </div>
    </article>
  </div>
</div>
