<div class="player-wrapper">
  <div class="player" [ngClass]="{'is-vod': !isLive}">
    <div class="left-wrapper" id="playerContainer" [ngStyle]="{'width':isLive?'70%':'100%'}" *ngIf="content">
      <div class="only-iframe-wrapper" *ngIf="liveUrl">
        <iframe width="100%" height="100%" [src]="liveUrl" webkitallowfullscreen allowfullscreen frameborder="0"
          allow="autoplay; fullscreen"></iframe>
        <!-- <video playsInline #videoPlayer allowfullscreen="false" controls="true" id="videoJs"
          class="video-js vjs-default-skin" [src]="liveUrl">
         </video> -->
      </div>
    </div>
    <div class="right-wrapper" *ngIf="!isAgendaDetail">
      <!-- <div class="ad">
        <div class="ad">
          <a class="ad-link">
            <img src="../../../assets/img/liveChat.gif" role="img" alt="sponsor logo">
          </a>
        </div>
      </div> -->
      <div class="reply">
        <!-- <div class="reply-header">
          <a href="https://www.diabetes.or.kr/new_workshop/202101/file/diabetes_34th_spring/#page=1"
            target="_blank">Abstract</a>
          <a (click)="openBoard()">FAQ</a>
           <a [routerLink]="'/board'">FAQ</a>
        </div> -->
        <div class="reply-list">
          <div #commentList class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys; let last = last">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <div class="reply-content">
                {{reply.content}}
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
              <!-- {{last? downScroll():''}} -->
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="Submit your question on session."
            formControlName="content" />
          <hr>
          <div class="text-right">
            <!-- 0/200  -->
            <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
