<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner-login.png)'"></div>
    <img [src]="'assets/img/banner-login.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Welcome to SCRMI2021
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
        <div class="login-bottom">
          <div class="password-error">
            {{passwordError?passwordError:''}}
          </div>
          <!-- <div class="regist-button">
            <button data-toggle="modal" data-target="#findPassword">비밀번호 찾기</button>
          </div> -->
        </div>
        <div class="submit-button">
          <button (click)="login()">LOGIN</button>
        </div>
        <div class="regi-link">
          <a target="_blank" href="http://scrmi.urimed.co.kr">사전등록 홈페이지 바로가기</a>
        </div>
      </div>
    </div>
  </div>
</div>

<button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <label class="mb-2">
            저작권 안내
          </label>
          <p>
            제8회 국제심포지엄 관련 저작물<br>
            (사진, 글, 그림, 영상 등)은 본 페이지에서만 이용 가능하며,
          </p>
          <p>
            이 외의 공간에서 저작물을 무단으로 복제하거나<br>배포, 전송하는 행위는 저작권법 위반에 해당될 수 있습니다.
          </p>

          <p class="text-center">
            <label>위 내용을 확인하셨습니까?</label>
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert"
          (click)="goToMain()">
          확인
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 찾기 -->
<!-- <div class="modal findPassword fade" id="findPassword" data-backdrop="static" role="dialog"
  aria-labelledby="findPassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 찾기
        </div>
        <div class="modal-description">
          <p>등록된 메일로 임시비밀번호를 발급합니다.<br>
            등록된 이메일을 작성해 주세요.
          </p>
        </div>

        <div class="form-group row">
          <label for="pwd-email" class="col-sm-2 col-form-label">E-mail</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="pwd-email" [(ngModel)]="pwdEmail" (keyup.enter)="sendEmail()">
          </div>
        </div>

        <div class="btn-submit">
          <button type="button" class="btn btn-block confirm-btn" (click)="sendEmail()">
            위 메일로 임시비밀번호를 발급합니다.
          </button>
          <button class="btn btn-danger cancel" data-toggle="modal" data-target="#findPassword"
            (click)="cancelFindPwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
