article {
  margin: 0 auto;
  margin-bottom: 48px;
}

.speaker-title {
  font-size: 16px;
  color: var(--gray15);
  margin-bottom: 24px;
}

.list-wrapper {
  .list-item {
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

.title-wrapper {
  padding-bottom: 16px;

  h2 {
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  .sub-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .list-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 768px) {

  .list-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 575px) {

  .list-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
