<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section">
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth12.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ab2bef2c750012c87406')">
      <img src="../../../assets/img/e-booth/imgs/booth17.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108a45def2c750012c873f4')">
      <img src="../../../assets/img/e-booth/imgs/booth5.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108adabef2c750012c87410')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth4.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ad70ef2c750012c8740f')">
      <img src="../../../assets/img/e-booth/imgs/booth6.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108adf2ef2c750012c87411')">
      <img src="../../../assets/img/e-booth/imgs/booth7.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ae2eef2c750012c87412')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth13.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ac23ef2c750012c87409')">
      <img src="../../../assets/img/e-booth/imgs/booth14.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ac6aef2c750012c8740a')">
      <img src="../../../assets/img/e-booth/imgs/booth16.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108aca1ef2c750012c8740c')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth9.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108abd5ef2c750012c87407')">
      <img src="../../../assets/img/e-booth/imgs/booth18.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('615565668ea81a0011c5c653')">
      <img src="../../../assets/img/e-booth/imgs/booth2.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ad1aef2c750012c8740e')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth3.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108a4adef2c750012c873f6')">
      <img src="../../../assets/img/e-booth/imgs/booth1.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ace3ef2c750012c8740d')">
      <img src="../../../assets/img/e-booth/imgs/booth15.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108b098ef2c750012c87416')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth8.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108ae73ef2c750012c87413')">
      <img src="../../../assets/img/e-booth/imgs/booth11.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108b059ef2c750012c87415')">
      <img src="../../../assets/img/e-booth/imgs/booth10.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6108aec7ef2c750012c87414')">
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- <article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article> -->

<!-- <div class="my-page-inner stamp-tour" *ngIf="user && user.isStamp">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스탬프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
