<div class="content-body">

  <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"></app-program-nav>

  <div class="content-inner">
    <div class="live-player" *ngIf="live">
      <app-player *ngIf="showPlayer && live.provider === 'vimeo'" [content]="live" [isLive]="true" [selected]="selected"
        [bannersLiveChat]="bannersLiveChat"></app-player>

      <!-- IBM 사용시 ustream 모듈 사용 -->
      <div class="ustream-player-video-chat" *ngIf="showPlayer && live.provider === 'ibm'">
        <div class="player-height"
          [ngClass]="{'col-md-10': classColMd, 'col-md-8': !classColMd && live.chatIncluded !== 3}">
          <app-player-ustream [content]="live" [selected]="selected"></app-player-ustream>
        </div>

        <!-- 별도 채팅 여부 확인 -->
        <div *ngIf="liveChatUrl && live.chatIncluded === 1" class="player-height chat-height"
          [ngClass]="{'col-md-10': classColMd, 'col-md-4': !classColMd}">
          <iframe style="position:relative; display:block; width: 100%; height:100%; border:1px solid #ddd"
            [src]="liveChatUrl"></iframe>
        </div>
      </div>
    </div>

    <!-- 광고 구좌-->
    <div class="banners-wrapper" *ngIf="banners.length > 0">
      <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
      <!-- width: slideItemW -->
      <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
        [images]="banners" [imageSize]="{ width: 138, height: 90, space: 10 }" [manageImageRatio]="true"
        [showArrow]="false" (imageClick)="imageClick($event)">
      </ng-image-slider>
      <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
    </div>
  </div>

  <!-- Agendas 강의 목록 -->
  <div class="program-agendas">
    <div class="content-inner">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
          </app-agenda>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">Entry modal open</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          Notice
        </div>
        <div class="modal-description">
          <p>
            {{getAttendance()==='in'?'Please click the “Enter” button below for join in the live session'
            :'Please click the “Exit” button below for leaving the live session'
          }}
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" [ngClass]="getAttendance()" data-toggle="modal"
          data-target="#entryAlert" (click)="atndnCheck()">
          {{getAttendance() === 'in' ?'Enter (입장)':'Exit (퇴장)'}}
        </button>
      </div>
    </div>
  </div>
</div>
